<!DOCTYPE html>
<html>
<head>
    <title>Добавление заявки</title>

</head>
<body>
    
    <h1>Добавить заявку</h1>
    <form method="POST">
        <label for="application_number">Номер заявки:</label>  
        <input type="text" id="application_number" name="application_number" required><br><br>

        <label for="org_type">Вид оргтехники:</label>
        <input type="text" id="org_type" name="org_type" required><br><br>

        <label for="model">Модель:</label>
        <input type="text" id="model" name="model" required><br><br>

        <label for="description">Описание проблемы:</label>
        <textarea id="description" name="description" required></textarea><br><br>

        <label for="client_name">ФИО клиента:</label>
        <input type="text" id="client_name" name="client_name" required><br><br>

        <label for="phone_number">Номер телефона:</label>
        <input type="tel" id="phone_number" name="phone_number" required><br><br>

        <label for="status">Статус:</label>
        <input type="tel" id="status" name="status" required><br><br>

        


        <input type="submit" value="Добавить заявку">
    </form>
</body>
</html>

